<div class="container">
	<h1 class="question">What's Your Name?</h1>
	<div id="message">
		<h2>Hey <span class="name"></span>!</h2>
	<h2>Today is <span class="date">00/00/00</span> </h2>
	<h2>And you have <%= @@rolodex.contacts.size %> friends. </h2>
	 <p><a class="button" href="/contacts/new">Add a Friend</a></p>
	</div>
  <!-- please complete me with links to other actions -->
  <input id="user_name" type="text" name="user_name">
  <br>

 
</div>	