<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/style.css">
  	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<header>
  		<h2>Rolodexer</h2>
  		<nav>
  			<ul>
  				<li>link</li>
  				<li>link</li>
  				<li>link</li>
  				<li>link</li>
  			</ul>
  		</nav>
  	</header>
  	<br class="clear">
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>