body {
	font-family: 'Raleway', sans-serif;
	background-color: #3498db;
	margin: 0;
}

a {
	text-decoration: none;
}
.center {
	text-align: center;
}
.link {
	color: black;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}
.blue_border {
	border: 2px solid #3498db;
}

header {
	height: 50px;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: #e74c3c;
	
}

header ul {
	list-style: none;
	float: right;
}
header h2 {
	float: left;
}

ul li {
	float: left;
	padding: 10px;
}
.clear {
	clear: both;
}

.container {
	background-color: #e74c3c;
	width : 50%;
	margin-top: -10px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}
.button {
	background-color: #3498db;
	text-decoration: none;
	width: 200px;
	padding: 10px;
	font-size: 1.5em;
	color: black;
}
.button:hover {
	border: 2px solid white;
	color: white;
}
input {
	background-color: #e74c3c;
	border: none;
	font-size: 1.5em;
	margin-bottom: 20px;
	text-align: center;
}
#user_name:focus {
	border: none;
}

.box {
	background-color: #3498db;
	width: 200px;
	display: inline-block;
	margin: 10px;
	overflow: scroll;
	text-align: left;
	padding: 5px;
}
.box p {
		color: black;
	text-decoration: none;
}
.box:hover {
	border: 2px solid white;
}
footer {
		position:fixed;
   bottom:0;
   width: 100%;

   height:50px;   /* Height of the footer */
	background-color: #e74c3c;
	margin: 0 auto;

}